* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background-color: #E3E6EC;
    background-image: url('images/bgcircle.svg');
    background-repeat: no-repeat;
    background-position: top center ;
}